body {
    background-image: url(images/drums.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}   

.key {
    float: left;
    margin-top: 40%;
    margin-right: 2px;
    padding-top: 15px;
    background-color: aqua;
    box-shadow: 15px 14px 35px #fff;
    text-align: center;
    transition: all 0.07s;
    
}

kbd {
    font-size: 25px;
}

.sound {
    padding-left: 7px;
}

.key :hover{
    color: blue;
    
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}